* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

/*---------------------------------------BARRA DE NAVEGACION Y SUBMENÚ SERVICES-----------------------------------------*/
h1 {
  margin: 0;
  color: white;
  padding: 150px;
  padding-left: 30px;
  background-image: url(img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta la imagen para cubrir completamente el área del h1 */
}

#navBar {
  position: relative;
  background-color: rgb(122, 78, 148);
  padding-top: 20px;
  padding-bottom: 20px;
}

#navBar ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto; /* Definir cuatro columnas de ancho automático */
  font-size: x-large;
  list-style: none;
  padding-left: 0px;
  justify-content: left;
  margin-top: 0;
  margin-bottom: 0px;
}

#navBar a {
  background-color: rgb(122, 78, 148);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#navBar a:hover {
  background-color: white;
  color: rgb(122, 78, 148);
  transition: 1s;
}

#navBar .submenu {
  display: none;
  position: absolute;
  width: max-content;
  top: 72px; /*para bajarlo para cuadrarlo con la barra de navegacion...*/
  left: 165px;
}

#navBar li:hover .submenu {
  display: block;
}

#navBar .submenu ul {
  display: grid;
  grid-template-columns: auto;
  padding-top: 0;
  height: 0; /*para que no se vea el margen inferior del hover del nav...*/
}

#navBar .submenu {
  padding: 0;
  margin: 0;
}

#navBar .submenu li {
  padding-bottom: 20px;
  padding-top: 20px;
}

#navBar .submenu a {
  border: 1px solid rgb(122, 78, 148); /*para que no aparezca el espacio en blanco dando errores en la barra*/
  padding-left: 15.5px;
  padding-right: 15.5px;
}

/* -----------------------------------------------Who We Are SECTION--------------------------------------------------- */

#whoWeAre h2 {
  margin: 20px auto;
  width: max-content;
  font-size: xx-large;
  font-weight: 500;
}
.aboutUs {
  width: 500px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

#whoWeAre .imagen1 {
  float: left;
  margin-right: 10px;
}

#whoWeAre {
  text-align: justify;
}

.articles {
  display: grid;
  grid-template-columns: 45% 1% 45%;
  gap: 40px;
  background-color: rgb(248, 248, 248);
  padding-left: 20px;
  padding-right: 20px;
}

.ad {
  margin: auto;
  display: block;
}
.ad:hover {
  width: 100%;
  transition: 2s;
}

/*---------------------------------------------------OUR SERVICES SECTION-------------------------------------------------------*/

#services h2 {
  margin: auto;
  width: max-content;
  grid-area: title;
  font-size: xx-large;
  font-weight: 500;
}

#services {
  padding: 50px;
  padding-bottom: 100px;
  display: grid;
  border-radius: 35px;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas:
    "title title title"
    "article1 article2 article3"
    "article4 article5 article6";
  gap: 20px;
}

/*Nombramos a cada seccion del display grid para decidir como los desplegamos */

#service1 {
  grid-area: article1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}
svg {
  grid-area: svg;
}

#services p {
  grid-area: lorem;
}

#service2 {
  grid-area: article2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}
#service3 {
  grid-area: article3;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}

#service4 {
  grid-area: article4;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}

#service5 {
  grid-area: article5;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}

#service6 {
  grid-area: article6;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "svg title"
    "svg lorem";
}

#services h3 {
  margin: auto;
  width: max-content;
  margin-top: 20px;
  font-size: x-large;
  font-weight: 500;
}

svg {
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 5px solid lightgrey;
  border-radius: 50%;
  fill: rgb(89, 58, 125);
  margin-right: 5px;
}

svg:hover {
  background-color: rgb(89, 58, 125);
  fill: white;
  transition: 1s;
}

#services p {
  text-align: justify;
}

/*------------------------------------------------PORTFOLIO SECTION-----------------------------------------------------*/

#portfolio {
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "title title title"
    " p p p"
    "img2 img3 img4"
    "img5 img6 img7"
    "img8 img9 img10";
  justify-content: center;
  padding-bottom: 100px;
}
#portfolio h2 {
  grid-area: title;
  margin: auto;
  width: max-content;
  margin-top: 50px;
  font-size: xx-large;
  font-weight: 500;
}
#portfolio h4 {
  grid-area: p;
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}
.img10 {
  grid-area: img10;
}

#portfolio img {
  margin-bottom: 10px;
  margin-right: 5px;
}

#portfolio img:hover {
  transform: rotate(-15deg);
  transition: 1s;
}
#portfolio .img6:hover {
  transform: rotate(360deg);
  border-radius: 50%;
  transition: 1.5s;
}

/*--------------------------------------------------LOCATION SECTION----------------------------------------------------*/
#location {
  margin: 0 auto;
}
#location h2 {
  margin: auto;
  width: max-content;
  margin-top: 50px;
  font-size: xx-large;
  font-weight: 500;
}
.findUs h3 {
  margin: auto;
  width: max-content;
  font-size: medium;
  margin-top: 20px;
  color: grey;
  font-weight: 500;
  grid-area: title;
}
iframe {
  border-radius: 50%;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  grid-area: map;
}

.findUs {
  width: max-content;
  margin: auto;
  display: grid;
  align-items: center;
  gap: 50px;
  grid-template-columns: auto auto;
  grid-template-areas:
    "title title"
    "map address";
}
.address {
  grid-area: address;
  width: 80%;
}

/*-----------------------------------------------EMAIL US SECTION-------------------------------------------------------*/

#emailUs {
  background-color: rgb(89, 58, 125);
  width: 1024px;
  margin: auto;
  color: white;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url(img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#emailUs form {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  width: max-content;
}
label {
  width: 120px;
  display: inline-block;
  font-size: 1.4em;
  text-align: left;
}

input {
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  width: 300px;
}

textarea {
  width: 300px;
  border-radius: 5px;

  vertical-align: top;
}
input[type="submit"] {
  margin-top: 30px; /* Espacio entre el textarea y el botón */
  width: 300px;
  display: block;
  margin-left: auto;
}

/*----------------------------------------------------------FOOTER---------------------------------------------------------*/

footer {
  background-color: rgb(122, 78, 148);
  padding: 1px;
  color: white;
  text-align: right;
  padding-right: 20px;
}
footer a {
  color: white;
}

footer a:hover {
  color: rgb(122, 78, 148);
  background-color: white;
}
