body {
    max-width: 1200px;
    margin: auto;
  }
  h1 {
    text-align: center;
    margin: 40px;
  }
  #navBar {
    margin-bottom: 40px;
    margin: auto;
    width: max-content;
  }

  #navBar ul {
    display: grid;
    grid-template-columns: auto auto auto auto; /* Definir cuatro columnas de ancho automático */
    gap: 2px; /* Espaciado entre botones de la barra de navegación */
    font-size: x-large;
  }

  #navBar li {
    background-color: lightblue;
    padding: 20px;
    list-style-type: none;
    text-align: center;
  }

  #navBar a {
    text-decoration: none;
    color: white;
  }

  #navBar a :hover {
    background-color: black;
    padding: 25px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    transition: 1.5s;
  }
  /*Otras formas de alinear la barra de navegacion...
      nav li {
        display: inline;
        float: left; 
        background-color: lightblue;
        padding: 10px;
        list-style-type: none;
        margin-left: 2px;
      }

      a {
        list-style-type: none;
        text-decoration: none;
        color: white;
      }

      #whoWeAre h2 {
        clear: both;  Esto hace que el título aparezca debajo de los elementos flotantes 
      } */